@charset "utf-8";

/* フォント */
@font-face
{
    font-family: "mihiPixel";
    src: url("/ttf/mihiPixelmoji_v1.1.ttf") format("truetype");
}

/* ボディ */
body
{
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #202020;
}

/* ヘッダー */
header
{
    padding: 1rem;
    font-family: "mihiPixel";
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
}

.header_top
{
    display: flex;
    justify-content: space-between;
}

/* ナビゲーション */
nav
{
    display: flex;
    justify-content: flex-end;
}

/* メイン */
main
{
    padding: 1rem;
}

/* フッター */
footer
{
    padding: 1rem;
    border-top: 1px solid #c0c0c0;
    color: #c0c0c0;
}

/* サイト名 */
.site_name
{
    color: inherit;
    text-decoration: none;
}

/* 垢アイコン */
.account
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

/* 移動ボタン */
.navigation_button
{
    display: flex;
    justify-content: flex-end;
}

/* 大凶 */
body.daikyo
{
    background-color: #f00;
    filter: invert(1);
}

/* 赤画面リセット */
body.resetDaikyo
{
    background-color: #202020;
    filter: invert(0);
}

/* 為替 */
.exchange_row
{
    display: flex;
    /* 下段を一列にする */
    align-items: center;
    gap: 10px;
}

/* おさいふ */
.wallet_summary_container
{
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #444;
    border-radius: 8px;
    display: inline-block;
    min-width: 220px; /* 最低幅 */
}