<header>
    <a href="" class="site_name" data-link="home">
        <h1>
            良いね悪いねサイト
        </h1>
    </a>
    <nav>
        <a href="" data-link="home">
            <button style="width: 40px; height: 40px; border-radius: 8px; padding: 0;">
                1
            </button>
        </a>
        <a href="" data-link="next">
            <button style="width: 40px; height: 40px; border-radius: 8px; padding: 0;">
                2
            </button>
        </a>
    </nav>
</header>